!!! 5
html
  head
    meta( charset='utf-8' )
    meta( http-equiv='X-UA-Compatible', content='IE=edge,chrome=1' )
    title Tractor
    link( rel='stylesheet', type='text/css', href='/stylesheets/all.css' )
  body
    #page!= body
    script( type='text/javascript', src='http://code.jquery.com/jquery-1.6.4.min.js' )
    script( type='text/javascript', src='/javascripts/#{assetManager.cacheHashes.js || '0'}/all.js' )
