yellow = hsla(60, 80%, 80%, 0.9)

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body
  margin 0
  padding 0

body, input, .ui-widget
  font-family helvetica neue, helvetica, arial, sans-serif
  font-size small

input[type=text], input[type=date], input[type=search]
  border solid 1px hsla(0, 0%, 0%, 0.2)
  border-radius 2px
  padding 2px
  box-shadow inset 0 0 2px hsla(0, 0%, 0%, 0.2)

h1, h2, h3
  font-weight 300

#page
  padding 0 10px

body.projects

body.items
  header
    position fixed
    background-color hsl(0, 0%, 20%)
    box-shadow 0 0 5px hsla(0, 0%, 0%, 0.5)
    width 100%
    margin-left -10px
    padding 0 10px 0.25em
    #filter
      text-align right
      input[type=date]
        width 6.5em
      input[type=search]
        width 12em
        margin-left 1ex
    table.hour
      margin 0
      color white
      text-shadow 0 -1px 0 hsla(0, 0%, 0%, 0.3)
      th
        padding-bottom 0
        background hsl(0, 0%, 20%)

  ul.items
    margin 0
    padding 0
    padding-top 70px
    > li
      display inline

  table.hour
    table-layout fixed
    font-size small
    border-collapse collapse
    margin-bottom 1em
    width 800px
    tbody
      border-left solid 1px transparent
    tbody.assigned
      border-left-color hsl(0, 0%, 80%)
      tr.summary
        color #888
        background-color hsl(0, 0%, 96%)
        border-left solid 1px hsl(0, 0%, 50%)
    tbody.assigned:nth-child(even)
      tr.summary
        background-color hsl(0, 0%, 94%)
    tr:nth-child(odd)
      background-color hsl(0, 0%, 98%)
    tr.selected
      background-color yellow
    tr.cursor
      background-color hsl(0, 0%, 20%) !important
      color white !important
      text-shadow 0 -1px 0 hsla(0, 0%, 0%, 0.3) !important
      &.selected
        background-color hsl(60, 50%, 20%)
    th, tfoot td
      padding 5px
    th
      text-align left
      background-color hsl(0, 0%, 50%)
      color white
      text-shadow 0 -1px 0 hsla(0, 0%, 0%, 0.3)
      &.project
        width 8em
      &.checkbox
        width 2em
      &.hour
        width 10em
      &.duration
        width 5em
      &.app
        width 10em
    td
      padding 3px 5px 3px 4px
    .duration
      text-align right
      white-space nowrap
    .unassigned
      font-style italic
    div.title
      width 100%
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
  span.totals
    margin-left 1em
  .totals
    font-size small
    dl, dt, dd
      display inline
    dt
      margin-left 1.5ex
    dt:first-child
      margin-left 0
    dd
      margin-left 1ex
