yellow = hsla(60, 80%, 80%, 0.9)

border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments

body, input
  font-family helvetica neue, helvetica, arial, sans-serif
  font-size medium

h1, h2, h3
  font-weight 300

body.-projects

body.-items
  ul.items
    padding 0
    > li
      display inline

  table.hour
    font-size small
    border-collapse collapse
    margin-bottom 1em
    tr:nth-child(odd)
      background-color hsl(0, 0%, 95%)
    tr.selected
      background-color yellow
    tr.cursor
      background-color hsl(0, 0%, 20%)
      color white
      text-shadow 0 -1px 0 hsla(0, 0%, 0%, 0.5)
      &.selected
        background-color hsl(60, 50%, 20%)
    th
      text-align left
      background-color hsl(0, 0%, 50%)
      color white
      text-shadow 0 -1px 0 hsla(0, 0%, 0%, 0.5)
      padding 5px
      &.project, &.hour
        width 5em
      &.duration
        width 3em
      &.app
        width 10em
    td
      padding 3px 5px
    .duration
      text-align right
    .title
      width 30em
      white-space nowrap
      overflow hidden
      text-overflow ellipsis
