h1= items[0].start.toDateString()
- each items, hour in byHour
  - if (items)
    table.hour
      tr
        th: input( type='checkbox' )
        th.hour= items[0].start.toLocaleFormat('%l %p')
        th.duration duration
        th.app app
        th.title title
      - each item in items
        tr
          td: input( type='checkbox' )
          td!= item.start.toLocaleFormat('%l:<b>%M:%S</b>')
          td.duration
            - if (item.duration > 60)
              = (item.duration / 60).toFixed(0) + ' m'
            - else
              = item.duration.toFixed(0) + ' s'
          td= item.app
          td: div.title= item.info.title
